.top-parallax{
    background-image: url("../../images/header2.jpg");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-text1{
    color: white;
    margin-top: 15%;
    text-align: center;
    font-size: 4em;
    letter-spacing: -0.05em;
    /*-webkit-text-stroke: 0.2px black;*/
    font-weight: 300;
    line-height: 1em;
    padding: 20px;

}
.parallax-text2{
    color: white;
    text-align: center;
    padding: 20px;
}