body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}
.App{
  background: #eee;
  /*background: #4c2a4c;*/
  /*margin: 20px auto;*/
  /*width: 90%;*/
  /*max-width: 700px;*/
  color: #ddd;
}
.footer {
  background: rgba(0, 0, 0, 0.95);
}
.seperator {
  background: #eeeeee;
  color: white;
  margin: 0;
}
.bottom-brand{
  margin-bottom: 0 !important;
  padding-bottom: 20px;
}

